<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body class="container-fluid">
	
		<div class="ari">
		   <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
			   <ol class="carousel-indicators">
			    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
			    <li data-target="#bs-carousel" data-slide-to="1"></li>
			    <li data-target="#bs-carousel" data-slide-to="2"></li>
			  </ol>
		  
		 
		  <div class="carousel-inner">
			     	 <div class="item slides active">
				        <div class="slide-1">
				              <div class="overlay"></div>
			        	</div>
		       <div class="hero">
			           <hgroup>
			             <h2>Gau Prem Seva Sansthan</h2>        
			            </hgroup>
			        <button class="btn btn-hero btn-lg" role="button">See all features</button>
			   </div>
		    </div>
		      <div class="item slides">
			      <div class="slide-2">
			          <div class="overlay"></div>
			      </div>
		      <div class="hero">        
		        <hgroup>
		            <h2>With over</h2>        
		            <h4>120 volunteers wowrking for our NGo</h4>
		        </hgroup>       
		        <button class="btn btn-hero btn-lg" role="button">See all features</button>
		      </div>
		    </div>
		    <div class="item slides">
		      <div class="slide-3">
		          <div class="overlay"></div>
		      </div>
		      <div class="hero">        
		        <hgroup>
		            <h1>Donate</h1>        
		            <h4>To make this NGO even better</h4>
		        </hgroup>
		        <button class="btn btn-hero btn-lg" role="button">See all features</button>
		      </div>
		    </div>
		  </div> 
		</div>
		</div>


		</br></br></br></br>


		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		            <div class="box">
		                <div class="box-icon">
		                    <span class="fa fa-4x fa-html5"></span>
		                </div>
		                <div class="info">
		                    <h4 class="text-center">About Us</h4>
		                    <p> Gau Prem Seva Sansthan
		                    </br> is dairy product NGO functioning for _______ 
		                    </br> implementing  the programmes related to dairy farms</p>
		                    
		                </div>
		            </div>
		        </div>
		        
		        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		            <div class="box">
		                <div class="box-icon">
		                    <span class="fa fa-4x fa-html5"></span>
		                </div>
		                <div class="info">
		                    <h4 class="text-center">Our Mission</h4>
		                    <p>
		                    	Our Mission is to </br>
		                    	improve and make dairy fucking </br>
		                    	product of a much better qaulity
		                    </p>
		                </div>
		            </div>
		        </div>
			</div>
		</div>


		        
		      
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		            <div class="box">
		                <div class="box-icon">
		                    <span class="fa fa-4x fa-html5"></span>
		                </div>
		                <div class="info">
		                    <h4 class="text-center">Past Work</h4>
		                    <p>
		                       Usually set up by ordinary citizens, NGOs may be funded by governments, foundations, schools, businesses, or private people.</p>
		                    
		                </div>
		            </div>
		        </div>
		        
		        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		            <div class="box">
		                <div class="box-icon">
		                    <span class="fa fa-4x fa-html5"></span>
		                </div>
		                <div class="info">
		                    <h4 class="text-center">Our Vision </h4>
		                    <p>
		                    	The term "non-governmental organization" was first coined in 1945, when the United Nations (UN) was created</p>
		                </div>
		            </div>
		        </div>
			</div>
		</div>






		<div class="container">
		    <div class="page-header">
		        <h1>Creating A better world with your help</h1>
		    </div>
		    <div class="row">
		    	<div class="col-md-6">
		        
		<div class="panel panel-default">
		  <div class="panel-leftheading">
		      <h3 class="panel-lefttitle">Top Donars</h3>
		  </div>
		  <div class="panel-rightbody">
		      <p>Whether the NGOs are small or large, various NGOs need budgets to operate. The amount of budget that they need would differ from NGOs to NGOs.
		      </br></br></br></p>
		          
		      </div>
		    <div class="clearfix">
		    </div>
		</div>

		<div class="panel panel-primary">
		  <div class="panel-leftheading">
		      <h3 class="panel-lefttitle">Achievments</h3>
		  </div>
		  <div class="panel-rightbody">
		      <p>In the March 2000 report on United Nations Reform priorities, former U.N. Secretary General Kofi Annan wrote in favor of international humanitarian intervention, arguing that the international community has a "right to protect"[25] citizens of the world against ethnic cleansing, genocide, and crimes against humanity. On the heels of the report, the Canadian government launched the Responsibility to Protect R2P.</br></br></br></p>
		  </div>
		    <div class="clearfix">
		    </div>
		</div>

		<div class="panel panel-success">
		  <div class="panel-leftheading">
		      <h3 class="panel-lefttitle">Recent Work</h3>
		  </div>
		  <div class="panel-rightbody">
		      <p>In recent years, many large corporations have increased their corporate social responsibility departments in an attempt to preempt NGO campaigns against certain corporate practices. As the logic goes, if corporations work with NGOs, NGOs will not work against corporations. Greater collaboration between corporations and NGOs creates inherent risks of co-optation for the weaker partner, typically the nonprofit involved</p>
		     </div>
		    <div class="clearfix">
		    </div>
		</div>
		    </div>
		    <div class="col-md-6">

		<div class="panel panel-info">  
		<div class="panel-leftheading">
		      <h3 class="panel-lefttitle">xyz</h3>
		  </div>
		  <div class="panel-rightbody">
		      <p>Service-delivery NGOs provide public goods and services that governments from developing countries are unable to provide to society, due to lack of resources. Service-delivery NGOs can serve as contractors or collaborate with democratized government agencies to reduce cost associated with public goods. </p>
		      </div>
		    <div class="clearfix">
		    </div>   
		    </div>
		    
		<div class="panel panel-warning">  
		  <div class="panel-leftheading">
		      <h3 class="panel-lefttitle">Some reviews from Experts</h3>
		  </div>
		  <div class="panel-rightbody">
		      <p>What we are, what we are not and what we ought to be". Shivji argues that despite the good intentions of NGO leaders and activists, he is critical of the "objective effects of actions, regardless of their intentions".[44] Shivji argues also that the sudden rise of NGOs are part of a neoliberal paradigm rather than pure altruistic motivations. He is critical of the current manifestations of NGOs wanting to change the world without understanding it, and that the imperial relationship continues today with the rise of NGOs.

		</p>
		  </div>
		    <div class="clearfix">
		    </div>
		</div>
		    
		<div class="panel panel-danger">  
		  <div class="panel-leftheading">
		      <h3 class="panel-lefttitle">zyzyzyz</h3>
		  </div>
		  <div class="panel-rightbody">
		      <p>The issue of the legitimacy of NGOs raises a series of important questions. This is one of the most important assets possessed by an NGO, it is gained through a perception that they are an “independent voice”.[63][64] Their representation also emerges as an important question. Who bestows responsibilities to NGOs or INGOs and how do they gain the representation of citizens and civil society is still not scrutinized thoroughly.</p>
		     </div>
		    <div class="clearfix">
		    </div>     
		</div>

		    </div>
		</div>


		</br></br></br>

		<div class="container">

		<h1 align="center">Our Core Members</h1>


			<div class="row destacados">
				<div class="col-md-4">
		    		<div class="colum1">
						<img src="http://lorempixel.com/200/200/abstract/1/" alt="Texto Alternativo" class="img-circle img-thumbnail">
						<h2>Nikhil</h2>
						<p>contribution to the Ngo</p>
						<a href="#" class="btn btn-primary" title="Enlace">View profile</a>
					</div>
				</div>

				<div class="col-md-4">
					<div class="colum2">
						<img src="http://lorempixel.com/200/200/abstract/2/" alt="Texto Alternativo" class="img-circle img-thumbnail">
						<h2>Aman</h2>
						<p>zxcvbbnm</p>
						<a href="#" class="btn btn-primary" title="Enlace">View profile»</a>
					</div>
				</div>

				<div class="col-md-4">
					<div class="colum3">
						<img src="http://lorempixel.com/200/200/abstract/3/" alt="Texto Alternativo" class="img-circle img-thumbnail">
						<h2>Mohak</h2>
						<p>qfbbbi eugheu hu griugghqruig uiqpg r guer gu err g ghgu</p>
						<a href="#" class="btn btn-primary" title="Enlace">View profile»</a>
					</div>
				</div>
			</div>
		</div>




















		<div class="container-fluid" id="footer">    
			<div class="row-fluid">
				<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
				<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<!-- // -->
				<div class="container-fluid">
					<h3></h3>
		    		<hr>
		        
		            <p class="txt-railway"></p>
		            <br />
		                <a href="https://www.facebook.com/arinjay.sharma.5"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
		                <a href="#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
		                <a href="#"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
			            <a href="https://plus.google.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
				</div>

				<div class="container-fluid">
		    		
		    		<div class="row">
			        	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
			        		<h3> About us</h3>
				        	<ul class="unstyled">
								<li><a href="#">About us</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Contact & support</a></li>
							</ul>
				        </div>

				        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
				        	<h3> Our past Work</h3>
					        <ul class="unstyled">
								<li><a href="#">some link</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Our Core members</a></li>
								<li><a href="#">Top Donars</a></li>
							</ul>
				        </div>


				         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
				        	<h3> Our Mission</h3>
				        	<ul class="unstyled">
								<li><a href="#">Our Mission</a></li>
								<li><a href="#">vision</a></li>
								<li><a href="#">Volunteers</a></li>
								<li><a href="#">Join NGO</a></li>
								<li><a href="#">Future Plans</a></li>
							</ul>
				        </div>
		    		</div>
				</div>
		   	</div>
	</div>
</body>